{
  "openapi": "3.1.0",
  "info": {
    "title": "smolfleet API",
    "description": "Control plane for smolvm — deploy and run machines across a cluster.",
    "license": {
      "name": "Apache-2.0"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.smolmachines.com",
      "description": "Hosted smolfleet"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "health"
        ],
        "operationId": "health_check",
        "responses": {
          "200": {
            "description": "Cluster health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterHealth"
                }
              }
            }
          }
        }
      }
    },
    "/livez": {
      "get": {
        "tags": [
          "health"
        ],
        "operationId": "livez",
        "responses": {
          "200": {
            "description": "Process is alive"
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "tags": [
          "health"
        ],
        "operationId": "metrics",
        "responses": {
          "200": {
            "description": "Prometheus metrics (text)"
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "health"
        ],
        "operationId": "readyz",
        "responses": {
          "200": {
            "description": "Ready to serve"
          },
          "503": {
            "description": "State backend unreachable"
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "billing"
        ],
        "operationId": "account_get",
        "responses": {
          "200": {
            "description": "Tenant account: plan, effective limits, period usage + spend",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/attribution": {
      "post": {
        "tags": [
          "billing"
        ],
        "operationId": "account_attribution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupAttribution"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Whether the attribution was stored. False when the tenant already has one, is not a new account, or the report held nothing usable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupAttributionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/plan": {
      "post": {
        "tags": [
          "billing"
        ],
        "operationId": "account_plan_change",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The plan now in effect",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanInfo"
                }
              }
            }
          },
          "402": {
            "description": "The plan's monthly fee has no saved card to bill, or the card was declined"
          },
          "409": {
            "description": "Current usage exceeds the target plan's limits"
          },
          "422": {
            "description": "That plan is not self-serve"
          },
          "503": {
            "description": "Paid plans are not enabled on this deployment"
          }
        }
      }
    },
    "/v1/account/plans": {
      "get": {
        "tags": [
          "billing"
        ],
        "operationId": "account_plans_list",
        "responses": {
          "200": {
            "description": "Plans this tenant may switch to itself",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePlansResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "agent_list",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "description": "Last session name from the previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1-100 (default 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated agent session summaries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentListPage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "agents"
        ],
        "operationId": "agent_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Session created; its machine and harness are set up in the background (status `starting`, then `ready` or `failed`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInfo"
                }
              }
            }
          },
          "409": {
            "description": "A session with that name exists"
          }
        }
      }
    },
    "/v1/agents/{name}": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "agent_get",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Session name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session with its turns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "tags": [
          "agents"
        ],
        "operationId": "agent_delete",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Session name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Session, machine and unshared checkpoints deleted"
          }
        }
      }
    },
    "/v1/agents/{name}/fork": {
      "post": {
        "tags": [
          "agents"
        ],
        "operationId": "agent_fork",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Session name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentForkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "New session from the state right after the turn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{name}/pause": {
      "post": {
        "tags": [
          "agents"
        ],
        "operationId": "agent_pause",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Session name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Paused; the next turn resumes it"
          }
        }
      }
    },
    "/v1/agents/{name}/resume": {
      "post": {
        "tags": [
          "agents"
        ],
        "operationId": "agent_resume",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Session name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Resumed"
          }
        }
      }
    },
    "/v1/agents/{name}/rewind": {
      "post": {
        "tags": [
          "agents"
        ],
        "operationId": "agent_rewind",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Session name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRewindRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Session restored to the state right after the turn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{name}/turns": {
      "post": {
        "tags": [
          "agents"
        ],
        "operationId": "agent_turn_send",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Session name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Retry the same turn without running it twice; a different request using the same key conflicts",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendAgentTurnRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Turn started; it runs whether or not a client stays connected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentTurnAccepted"
                }
              }
            }
          },
          "409": {
            "description": "A turn is already running, or the session is not ready"
          }
        }
      }
    },
    "/v1/agents/{name}/turns/{turn}/cancel": {
      "post": {
        "tags": [
          "agents"
        ],
        "operationId": "agent_turn_cancel",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Session name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "turn",
            "in": "path",
            "description": "Running turn number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Turn cancelled and its machine stopped; the next turn restarts it"
          },
          "409": {
            "description": "Turn is not running"
          }
        }
      }
    },
    "/v1/agents/{name}/turns/{turn}/events": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "agent_turn_events",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Session name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "turn",
            "in": "path",
            "description": "Turn number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Replay only events numbered above this",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "text/event-stream: an `event` per agent event (`id` = its number), then `done` with the finished turn"
          }
        }
      }
    },
    "/v1/apikeys": {
      "get": {
        "tags": [
          "apikeys"
        ],
        "operationId": "apikey_list",
        "responses": {
          "200": {
            "description": "List API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "apikeys"
        ],
        "operationId": "apikey_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API key created (plaintext shown once)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreated"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apikeys/{id}": {
      "delete": {
        "tags": [
          "apikeys"
        ],
        "operationId": "apikey_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "API key id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "API key revoked"
          }
        }
      }
    },
    "/v1/billing/auto-recharge": {
      "get": {
        "tags": [
          "billing"
        ],
        "operationId": "auto_recharge_get",
        "responses": {
          "200": {
            "description": "Current opt-in auto-recharge settings (effective threshold/amount + whether a card is saved)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoRechargeSettings"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "billing"
        ],
        "operationId": "auto_recharge_set",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAutoRechargeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated auto-recharge settings. When enabling with no card on file, the response carries a setupUrl to add one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoRechargeSettings"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/checkout-session": {
      "post": {
        "tags": [
          "billing"
        ],
        "operationId": "billing_checkout_session",
        "responses": {
          "200": {
            "description": "Start a one-time Stripe Checkout to add prepaid credit. Request body: {\"amount_usd\": <1..=2000>}. Returns {\"url\": <stripe-hosted checkout url>}; redirect the browser there. The wallet is credited only when Stripe's webhook confirms payment."
          }
        }
      }
    },
    "/v1/billing/meters": {
      "get": {
        "tags": [
          "billing"
        ],
        "operationId": "billing_meters",
        "responses": {
          "200": {
            "description": "Per-tenant metered usage + cost for the period",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TenantMeter"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkpoints/{id}": {
      "get": {
        "tags": [
          "checkpoints"
        ],
        "operationId": "portable_checkpoint_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Portable checkpoint id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Capture status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortableCheckpointInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "tags": [
          "checkpoints"
        ],
        "operationId": "portable_checkpoint_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Portable checkpoint id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Portable checkpoint deleted"
          },
          "409": {
            "description": "Checkpoint is referenced by a machine"
          }
        }
      }
    },
    "/v1/checkpoints/{id}/download": {
      "get": {
        "tags": [
          "checkpoints"
        ],
        "operationId": "portable_checkpoint_download",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Portable checkpoint id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Portable .smolcheckpoint artifact"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Checkpoint is not available"
          }
        }
      }
    },
    "/v1/checkpoints/{id}/restore": {
      "post": {
        "tags": [
          "checkpoints"
        ],
        "operationId": "portable_checkpoint_restore",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Portable checkpoint id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestorePortableCheckpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Stopped machine created from checkpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineInfo"
                }
              }
            }
          },
          "409": {
            "description": "Checkpoint is not available"
          }
        }
      }
    },
    "/v1/credentials": {
      "get": {
        "tags": [
          "credentials"
        ],
        "operationId": "credential_list",
        "responses": {
          "200": {
            "description": "Stored credentials, without their values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CredentialInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/credentials/{name}": {
      "put": {
        "tags": [
          "credentials"
        ],
        "operationId": "credential_set",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Credential name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetCredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Stored; machines bound to it use the new value from their next boot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialInfo"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name, variable, hosts or value"
          }
        }
      },
      "delete": {
        "tags": [
          "credentials"
        ],
        "operationId": "credential_delete",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Credential name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/v1/groups": {
      "get": {
        "tags": [
          "groups"
        ],
        "operationId": "group_list",
        "responses": {
          "200": {
            "description": "List groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "groups"
        ],
        "operationId": "group_deploy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Group deployed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/groups/{name}": {
      "get": {
        "tags": [
          "groups"
        ],
        "operationId": "group_get",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Group name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "tags": [
          "groups"
        ],
        "operationId": "group_destroy",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Group name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Destroyed"
          }
        }
      }
    },
    "/v1/groups/{name}/logs": {
      "get": {
        "tags": [
          "groups"
        ],
        "operationId": "group_logs",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Group name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Streamed log lines (text/event-stream)"
          }
        }
      }
    },
    "/v1/groups/{name}/promote": {
      "post": {
        "tags": [
          "groups"
        ],
        "operationId": "group_promote",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Group name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canary promoted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/groups/{name}/redeploy": {
      "post": {
        "tags": [
          "groups"
        ],
        "operationId": "group_redeploy",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Group name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Redeployed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/groups/{name}/scale": {
      "post": {
        "tags": [
          "groups"
        ],
        "operationId": "group_scale",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Group name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScaleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Scaled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_list",
        "responses": {
          "200": {
            "description": "List machines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MachineInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMachineRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Machine created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineInfo"
                }
              }
            }
          },
          "409": {
            "description": "Name already exists"
          },
          "422": {
            "description": "Quota exceeded"
          }
        }
      }
    },
    "/v1/machines/{id}": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Machine",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/machines/{id}/branches": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_branch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Branchable source machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Child created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/branches/batch": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_branch_batch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Branchable source machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkBatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Children created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForkBatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/checkpoints": {
      "get": {
        "tags": [
          "checkpoints"
        ],
        "operationId": "portable_checkpoint_list",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Portable checkpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PortableCheckpointInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "checkpoints"
        ],
        "operationId": "portable_checkpoint_create",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Running forkable machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wait",
            "in": "query",
            "description": "Defaults to true. False accepts a background capture; poll checkpoint status before restore.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Portable checkpoint captured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortableCheckpointInfo"
                }
              }
            }
          },
          "202": {
            "description": "Capture accepted, not yet durable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortableCheckpointInfo"
                }
              }
            }
          },
          "409": {
            "description": "Machine is not ready for capture"
          }
        }
      }
    },
    "/v1/machines/{id}/code": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_code",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineCodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Code result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineExecResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/connect/{port}": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_connect",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "port",
            "in": "path",
            "description": "Guest port to bridge to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "101": {
            "description": "Switching to the machine's TCP bridge"
          }
        }
      }
    },
    "/v1/machines/{id}/events": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_events",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Machine events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/exec": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_exec",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineCommandRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Command result. Buffered JSON by default; with `stream: true` in the body the response is an SSE stream of `event: stdout|stderr|error|exit` frames instead, terminated by `exit` carrying `{\"exitCode\": N}`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineExecResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/exec/interactive": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_exec_interactive",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "command",
            "in": "query",
            "description": "Program to run (default: the image shell)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cols",
            "in": "query",
            "description": "Initial terminal width",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "rows",
            "in": "query",
            "description": "Initial terminal height",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "101": {
            "description": "Switching to a PTY WebSocket. Binary frames carry terminal bytes in both directions; JSON text frames carry resize and exit control. Browsers cannot set an Authorization header on a WebSocket, so this route also accepts `?access_token=`."
          }
        }
      }
    },
    "/v1/machines/{id}/exec/stream": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_exec_stream",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineCommandRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Command output as Server-Sent Events, written as it is produced and never truncated. Frames are `event: stdout|stderr|error|exit` with `data:` lines; the terminal `exit` frame carries `{\"exitCode\": N}`. Identical to `POST /v1/machines/{id}/exec` with `stream: true` — a dedicated path for clients that route by URL rather than by request body.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/export": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_export",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Machine exported to the registry as an artifact"
          }
        }
      }
    },
    "/v1/machines/{id}/files/{path}": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_file_download",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "Guest file path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File bytes",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_file_upload",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "Guest file path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "File uploaded"
          }
        }
      }
    },
    "/v1/machines/{id}/fork": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_fork",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Forkable golden machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Clone created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/fork-batch": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_fork_batch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Forkable golden machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkBatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Clones created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForkBatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/lineage": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_lineage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id in the lineage",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Complete branch lineage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineLineage"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/logs": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Console log stream (server-sent events)",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/pause": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_pause",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution saved durably and machine paused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineInfo"
                }
              }
            }
          },
          "409": {
            "description": "Machine cannot be paused in its current state"
          }
        }
      }
    },
    "/v1/machines/{id}/resume": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_resume",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved execution resumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineInfo"
                }
              }
            }
          },
          "409": {
            "description": "No durable saved execution is ready"
          }
        }
      }
    },
    "/v1/machines/{id}/sessions": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_session_list",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MachineSessionInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_session_create",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMachineSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineSessionInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/sessions/{session_id}": {
      "delete": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_session_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "description": "Session id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Session deleted"
          }
        }
      }
    },
    "/v1/machines/{id}/sessions/{session_id}/exec": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_session_exec",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "description": "Session id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineCommandRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Command result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineExecResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/snapshot": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_snapshot_create",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Durability snapshot started"
          }
        }
      }
    },
    "/v1/machines/{id}/snapshots": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_snapshot_list",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List durability snapshots"
          }
        }
      }
    },
    "/v1/machines/{id}/start": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_start",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/stop": {
      "post": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_stop",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stopped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/machines/{id}/tunnel/{port}": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_tunnel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Tenant-owned running machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "port",
            "in": "path",
            "description": "Published guest TCP port",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "101": {
            "description": "Binary WebSocket frames carry raw TCP bytes; requires machine:exec scope"
          },
          "403": {
            "description": "Missing machine:exec scope"
          },
          "404": {
            "description": "Machine or published port not found"
          },
          "503": {
            "description": "Machine is not running"
          }
        }
      }
    },
    "/v1/machines/{id}/usage": {
      "get": {
        "tags": [
          "machines"
        ],
        "operationId": "machine_usage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Machine id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage and cost so far this billing period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineUsageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "billing"
        ],
        "operationId": "me_get",
        "responses": {
          "200": {
            "description": "Caller identity: subject, tenant, scopes, and the registry namespace it may push to",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/nodes": {
      "get": {
        "tags": [
          "nodes"
        ],
        "operationId": "node_list",
        "responses": {
          "200": {
            "description": "List nodes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NodeInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/nodes/register": {
      "post": {
        "tags": [
          "nodes"
        ],
        "operationId": "node_register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Node registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/nodes/{id}/cordon": {
      "post": {
        "tags": [
          "nodes"
        ],
        "operationId": "node_cordon",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Node id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No new placements land on the node; what runs on it is untouched"
          }
        }
      }
    },
    "/v1/nodes/{id}/credential": {
      "delete": {
        "tags": [
          "nodes"
        ],
        "operationId": "node_credential_revoke",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Node id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Credential revoked"
          }
        }
      }
    },
    "/v1/nodes/{id}/drain": {
      "post": {
        "tags": [
          "nodes"
        ],
        "operationId": "node_drain",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Node id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Node draining"
          }
        }
      }
    },
    "/v1/nodes/{id}/heartbeat": {
      "post": {
        "tags": [
          "nodes"
        ],
        "operationId": "node_heartbeat",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Node id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Heartbeat accepted"
          }
        }
      }
    },
    "/v1/nodes/{id}/uncordon": {
      "post": {
        "tags": [
          "nodes"
        ],
        "operationId": "node_uncordon",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Node id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operator cordon lifted"
          }
        }
      }
    },
    "/v1/operations": {
      "get": {
        "tags": [
          "operations"
        ],
        "operationId": "operation_list",
        "responses": {
          "200": {
            "description": "List operations"
          }
        }
      }
    },
    "/v1/operations/{id}": {
      "get": {
        "tags": [
          "operations"
        ],
        "operationId": "operation_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Operation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation"
          }
        }
      }
    },
    "/v1/plans": {
      "get": {
        "tags": [
          "plans"
        ],
        "operationId": "plan_list",
        "responses": {
          "200": {
            "description": "List plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlanInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "plans"
        ],
        "operationId": "plan_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Plan created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plans/{id}": {
      "patch": {
        "tags": [
          "plans"
        ],
        "operationId": "plan_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Plan id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Plan updated; applies from the next machine create",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanInfo"
                }
              }
            }
          },
          "404": {
            "description": "Plan not found"
          }
        }
      }
    },
    "/v1/pools": {
      "get": {
        "tags": [
          "pools"
        ],
        "operationId": "pool_list",
        "responses": {
          "200": {
            "description": "List pools",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PoolInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "pools"
        ],
        "operationId": "pool_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PoolConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Pool created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PoolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pools/{id}/claim": {
      "post": {
        "tags": [
          "pools"
        ],
        "operationId": "pool_claim",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Pool id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Claimed machine",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pricing": {
      "get": {
        "tags": [
          "usage"
        ],
        "operationId": "pricing_get",
        "responses": {
          "200": {
            "description": "Public rate card",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPricing"
                }
              }
            }
          }
        }
      }
    },
    "/v1/status/machines": {
      "get": {
        "tags": [
          "usage"
        ],
        "operationId": "machine_stats_get",
        "responses": {
          "200": {
            "description": "Lifetime count of machines started by customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMachineStats"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tenants": {
      "get": {
        "tags": [
          "tenants"
        ],
        "operationId": "tenant_list",
        "responses": {
          "200": {
            "description": "List tenants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TenantInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "tenants"
        ],
        "operationId": "tenant_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTenantRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Tenant created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tenants/{id}": {
      "get": {
        "tags": [
          "tenants"
        ],
        "operationId": "tenant_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Tenant id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "tags": [
          "tenants"
        ],
        "operationId": "tenant_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Tenant id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTenantRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tenants/{id}/reactivate": {
      "post": {
        "tags": [
          "tenants"
        ],
        "operationId": "tenant_reactivate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Tenant id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Reactivated"
          }
        }
      }
    },
    "/v1/tenants/{id}/suspend": {
      "post": {
        "tags": [
          "tenants"
        ],
        "operationId": "tenant_suspend",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Tenant id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Suspended"
          }
        }
      }
    },
    "/v1/tokens": {
      "get": {
        "tags": [
          "tokens"
        ],
        "operationId": "token_list",
        "responses": {
          "200": {
            "description": "List join tokens"
          }
        }
      },
      "post": {
        "tags": [
          "tokens"
        ],
        "operationId": "token_create",
        "responses": {
          "200": {
            "description": "Join token created"
          }
        }
      }
    },
    "/v1/tokens/{prefix}": {
      "delete": {
        "tags": [
          "tokens"
        ],
        "operationId": "token_delete",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "description": "Token prefix",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Token deleted"
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "usage"
        ],
        "operationId": "usage_query",
        "responses": {
          "200": {
            "description": "Usage report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/volumes": {
      "get": {
        "tags": [
          "volumes"
        ],
        "operationId": "volume_list",
        "responses": {
          "200": {
            "description": "List volumes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VolumeInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "volumes"
        ],
        "operationId": "volume_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVolumeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Volume created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/volumes/{id}": {
      "get": {
        "tags": [
          "volumes"
        ],
        "operationId": "volume_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Volume id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volume",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "tags": [
          "volumes"
        ],
        "operationId": "volume_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Volume id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Volume deleted"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountInfo": {
        "type": "object",
        "description": "The tenant self-service account view: plan, effective limits, usage, spend.",
        "required": [
          "tenantId",
          "status",
          "effectiveMaxCpus",
          "effectiveMaxMemoryMb",
          "effectiveMaxDiskGb",
          "effectiveMaxMachines",
          "periodUsage",
          "periodCost"
        ],
        "properties": {
          "budgetRemainingMicros": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "effectiveMaxCpus": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "effectiveMaxDiskGb": {
            "type": "integer",
            "format": "int64",
            "description": "Largest disk (GB) one machine may request on this account.",
            "minimum": 0
          },
          "effectiveMaxMachines": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "effectiveMaxMemoryMb": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "lowBalanceThresholdMicros": {
            "type": "integer",
            "format": "int64",
            "description": "Effective low-balance email threshold (micros): the balance at which a\nlow-balance warning email fires. Always the resolved value — the\nper-tenant override if set, else the platform default. `0` means the\ncustomer has turned the email off.",
            "minimum": 0
          },
          "monthlyBudgetMicros": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "periodCost": {
            "$ref": "#/components/schemas/CostBreakdown"
          },
          "periodUsage": {
            "$ref": "#/components/schemas/UsageResponse"
          },
          "plan": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/PlanInfo"
              }
            ]
          },
          "prepaidCreditMicros": {
            "type": "integer",
            "format": "int64",
            "description": "Prepaid wallet balance (micros). Topped up via Stripe Checkout; drawn down\nby metered usage. 0 for tenants that have never added credit.",
            "minimum": 0
          },
          "status": {
            "type": "string"
          },
          "tenantId": {
            "type": "string"
          }
        }
      },
      "AgentForkRequest": {
        "type": "object",
        "description": "Start a new session `name` from the state right after `turn`.",
        "required": [
          "turn",
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "turn": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "AgentInfo": {
        "type": "object",
        "description": "A managed agent session.",
        "required": [
          "name",
          "harness",
          "status",
          "turns",
          "createdAt"
        ],
        "properties": {
          "createdAt": {
            "type": "string"
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "harness": {
            "type": "string"
          },
          "machineId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The machine the session currently runs on (it changes on rewind)."
          },
          "model": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "runningTurn": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "The turn in progress, if any.",
            "minimum": 0
          },
          "status": {
            "type": "string",
            "description": "`starting` during setup, `turning` during a turn, `cancelling`,\n`rewinding`, `forking`, `pausing`, `resuming`, `ready`, `deleting`, or\n`failed`; stale work may read as `interrupted`."
          },
          "turns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentTurnInfo"
            }
          }
        }
      },
      "AgentListPage": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentSummary"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "AgentRewindRequest": {
        "type": "object",
        "description": "Return a session to the state right after `turn`.",
        "required": [
          "turn"
        ],
        "properties": {
          "turn": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "AgentSummary": {
        "type": "object",
        "description": "A session entry for the paginated list. Turn history is fetched from the\nsession detail rather than repeated for every session in the account.",
        "required": [
          "name",
          "harness",
          "status",
          "createdAt"
        ],
        "properties": {
          "createdAt": {
            "type": "string"
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "harness": {
            "type": "string"
          },
          "machineId": {
            "type": [
              "string",
              "null"
            ]
          },
          "model": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "runningTurn": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AgentTurnAccepted": {
        "type": "object",
        "description": "A turn that was accepted and is running.",
        "required": [
          "turn"
        ],
        "properties": {
          "turn": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "AgentTurnInfo": {
        "type": "object",
        "description": "One turn of a managed agent session.",
        "required": [
          "index",
          "prompt",
          "status",
          "isError",
          "checkpointed",
          "startedAt"
        ],
        "properties": {
          "checkpointed": {
            "type": "boolean",
            "description": "Whether the session can be rewound or forked to this turn."
          },
          "costUsd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "What the turn cost at the model provider, when the harness reports it."
          },
          "finishedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "index": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "isError": {
            "type": "boolean"
          },
          "prompt": {
            "type": "string"
          },
          "result": {
            "type": [
              "string",
              "null"
            ],
            "description": "The agent's final answer, or why the turn failed."
          },
          "startedAt": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "`preparing`, `running`, `cancelling`, `cancelled`, `done`, `failed`, or `interrupted`."
          }
        }
      },
      "ApiKeyCreated": {
        "type": "object",
        "required": [
          "id",
          "key"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          }
        }
      },
      "ApiKeyInfo": {
        "type": "object",
        "required": [
          "id",
          "scopes",
          "createdAt"
        ],
        "properties": {
          "createdAt": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "type": "string"
          },
          "lastUsedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AutoRechargeSettings": {
        "type": "object",
        "description": "Opt-in saved-card auto-recharge settings (`GET`/`POST /v1/billing/auto-recharge`).\nThreshold/amount are the RESOLVED effective values (per-tenant override, else\nfleet default), so the UI can render exactly what will happen.",
        "required": [
          "enabled",
          "thresholdMicros",
          "amountMicros",
          "hasSavedCard"
        ],
        "properties": {
          "amountMicros": {
            "type": "integer",
            "format": "int64",
            "description": "Amount (micros) charged to the saved card each recharge.",
            "minimum": 0
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether auto-recharge is enabled for this tenant."
          },
          "hasSavedCard": {
            "type": "boolean",
            "description": "Whether a card is saved on file (auto-recharge cannot fire without one)."
          },
          "setupUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "When enabling without a saved card, a Stripe-hosted URL to add one. Absent\nonce a card is on file (or on plain reads)."
          },
          "thresholdMicros": {
            "type": "integer",
            "format": "int64",
            "description": "Balance (micros) at or below which a recharge fires.",
            "minimum": 0
          }
        }
      },
      "AvailablePlansResponse": {
        "type": "object",
        "description": "The plan a tenant is on, and the ones it may move to itself.",
        "required": [
          "available"
        ],
        "properties": {
          "available": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanInfo"
            },
            "description": "Every self-serve plan, cheapest first. Includes the current plan when\nthat is itself self-serve, so a client can render the whole ladder."
          },
          "current": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/PlanInfo",
                "description": "The tenant's current plan, if it has one."
              }
            ]
          }
        }
      },
      "ChangePlanRequest": {
        "type": "object",
        "description": "Ask to move this tenant onto a different plan. Only plans whose\n`self_serve` flag is set may be chosen; operator tiers are assigned by an\nadmin.",
        "required": [
          "planId"
        ],
        "properties": {
          "planId": {
            "type": "string",
            "description": "Plan id to move onto, e.g. `plan-startup-paid`."
          }
        }
      },
      "CheckpointState": {
        "type": "string",
        "description": "User-visible state of a live-RAM checkpoint.",
        "enum": [
          "mutable",
          "freezing",
          "frozen"
        ]
      },
      "ClusterHealth": {
        "type": "object",
        "required": [
          "clusterId",
          "version",
          "nodesTotal",
          "nodesReady",
          "groupsTotal",
          "poolsTotal",
          "uptimeSecs"
        ],
        "properties": {
          "apiVersion": {
            "type": "integer",
            "format": "int32",
            "description": "Version of the public control-plane contract.",
            "minimum": 0
          },
          "buildSha": {
            "type": [
              "string",
              "null"
            ],
            "description": "Source revision injected by the release pipeline, when available."
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Stable feature identifiers clients and deployment checks can gate on."
          },
          "clusterId": {
            "type": "string"
          },
          "groupsTotal": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "nodesReady": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "nodesTotal": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "poolsTotal": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "uptimeSecs": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "version": {
            "type": "string"
          }
        }
      },
      "CommandSpec": {
        "oneOf": [
          {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string"
          }
        ]
      },
      "CostBreakdown": {
        "type": "object",
        "description": "Cost breakdown for a usage period (all amounts in integer micros).",
        "required": [
          "cpuMicros",
          "memoryMicros",
          "execMicros",
          "totalMicros"
        ],
        "properties": {
          "amountDueMicros": {
            "type": "integer",
            "format": "int64",
            "description": "What the tenant actually owes: `total − discount − credit_applied`.",
            "minimum": 0
          },
          "baseMicros": {
            "type": "integer",
            "format": "int64",
            "description": "Per-machine \"slot\" fee: alive machine-hours × the plan's base rate. Prices\nthe held VM slot (isolation, scheduling, readiness) independent of consumed\ncompute — it is NOT allocated vCPU/RAM. `serde(default)` so older\nclients/payloads omitting it still deserialize.",
            "minimum": 0
          },
          "cpuMicros": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "creditAppliedMicros": {
            "type": "integer",
            "format": "int64",
            "description": "Portion of the free credit actually consumed this period\n(`min(free_credit, subtotal − discount)`).",
            "minimum": 0
          },
          "diskMicros": {
            "type": "integer",
            "format": "int64",
            "description": "Disk gb·hour cost. `serde(default)` so older clients/payloads omitting it\nstill deserialize.",
            "minimum": 0
          },
          "egressMicros": {
            "type": "integer",
            "format": "int64",
            "description": "Egress (gb total) cost.",
            "minimum": 0
          },
          "execMicros": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "freeCreditMicros": {
            "type": "integer",
            "format": "int64",
            "description": "The plan's recurring free-credit allotment for the period.",
            "minimum": 0
          },
          "memoryMicros": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "monthlyFeeMicros": {
            "type": "integer",
            "format": "int64",
            "description": "Flat platform fee charged for this period (0 on usage-only plans).",
            "minimum": 0
          },
          "totalMicros": {
            "type": "integer",
            "format": "int64",
            "description": "Gross subtotal: sum of all resource line items, before discounts/credits.",
            "minimum": 0
          },
          "volumeDiscountMicros": {
            "type": "integer",
            "format": "int64",
            "description": "Graduated volume discount applied to the subtotal (period-level only;\nalways 0 on per-machine breakdowns).",
            "minimum": 0
          }
        }
      },
      "CreateAgentRequest": {
        "type": "object",
        "description": "Start a managed agent session: a harness (Claude Code, Codex, OpenCode, or\nany program) in its own machine, driven as a sequence of turns.",
        "required": [
          "name"
        ],
        "properties": {
          "allowHosts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Hosts the agent may reach beyond its model provider and package registry.\nThe `command` harness has neither, so callers must name hosts or\nexplicitly opt into unrestricted outbound access."
          },
          "arch": {
            "type": [
              "string",
              "null"
            ],
            "description": "`amd64` or `arm64`. A session with checkpoints runs on amd64 unless\npinned here."
          },
          "checkpoints": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Checkpoint after every turn so the session can be rewound or forked\n(default true)."
          },
          "cpus": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "vCPUs (default 2).",
            "minimum": 0
          },
          "credential": {
            "type": [
              "string",
              "null"
            ],
            "description": "A stored credential holding the model API key. The session's machine then\nnever holds the key: the agent sees a placeholder and the node\nsubstitutes the key on requests to the provider, so turns need no key in\ntheir `env`. Its variable must be the one the harness reads (e.g.\n`ANTHROPIC_API_KEY`) and its hosts must include the provider's."
          },
          "harness": {
            "type": [
              "string",
              "null"
            ],
            "description": "`claude-code` (default), `codex`, `opencode`, or `command`."
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Image for the `command` harness."
          },
          "memoryMb": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Memory in MiB (default 2048).",
            "minimum": 0
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "description": "Model: optional for `codex`, required as `provider/model` for `opencode`."
          },
          "name": {
            "type": "string",
            "description": "Session name, unique within the account."
          },
          "openNetwork": {
            "type": "boolean",
            "description": "Allow all outbound traffic instead of the host allow-list."
          },
          "program": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Program for the `command` harness; the prompt is appended."
          }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "expiresInDays": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tenantId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tenant to scope this key to (admin only). Keys created with a tenant_id\ncan only access resources belonging to that tenant."
          }
        }
      },
      "CreateMachineRequest": {
        "type": "object",
        "required": [
          "source"
        ],
        "properties": {
          "autoStopSeconds": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "branchable": {
            "type": "boolean",
            "description": "Create this machine as a branch source: it boots with cloneable live RAM\nso `POST /v1/machines/:id/branches` can create independent copy-on-write\nchildren. Default false."
          },
          "command": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Optional workload command (argv) that overrides the source image's or\n`.smolmachine` artifact's own entrypoint+cmd when the machine starts, so a\ndeploy of an off-the-shelf image can say what to run/serve. Empty (default)\n= use the source's own entrypoint, preserving prior behavior."
          },
          "credentials": {
            "type": "array",
            "items": {
              "type": "string"
            },
[...]
